body {
     font-family: 'Open Sans', sans-serif;
    padding-top: 0px;
}

.navbar {
    margin-bottom: 0px;
    padding: 5px 15px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.footer{
    padding:20px;
    text-align: left;
}

